<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dogukan Hotel: Room Reservations</title>
</head>
<body>
<h1>Welcome to Room Reservation Page</h1>
<table>

    <tr>
        <td>Room</td>
        <td>Room Number</td>
        <td>Guest</td>
    </tr>

    <tr th:each="item: ${roomReservations}">
        <td th:text="${item.roomName}">Room Name</td>
        <td th:text="${item.roomNumber}">Room Number</td>
        <td th:text="${item.lastName}!=null ? (${item.lastName} + ', ' + ${item.firstName}) : 'VACANT'">Full Name</td>
    </tr>
</table>
</body>
</html>

